<div class="container">
  <div class="card">
    <h2>{{ currentPassword ? 'Actualizar contraseña' : 'Asignar nueva contraseña' }}</h2>

    <div class="user-info">
      <p><strong>Usuario:</strong> {{ user?.name }}</p>
      <p><strong>Email:</strong> {{ user?.email }}</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput type="password" formControlName="content" placeholder="Nueva contraseña*" />
        <mat-error *ngIf="form.get('content')?.hasError('required')">
          La contraseña es obligatoria
        </mat-error>
        <mat-error *ngIf="form.get('content')?.hasError('pattern')">
          La contraseña debe tener al menos un número y un carácter especial
        </mat-error>
      </mat-form-field>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">
          {{ currentPassword ? 'Actualizar contraseña' : 'Guardar contraseña' }}
        </button>

        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="deletePassword()"
          [disabled]="!currentPassword"
        >
          Eliminar contraseña
        </button>
      </div>
    </form>
  </div>
</div>
